<!-- webapp/templates/index.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Игра на коэффициенты</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Подключение стилей -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <!-- Иконка -->
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div id="coefficient">0.0x</div>
        <button id="start-button" onclick="startAnimation()">Старт</button>
    </div>

    <!-- Подключение скрипта -->
    <script src="/static/js/app.js"></script>
</body>
</html>
